body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* header css */
header {
    background-color: lightgray;
    padding: 1em;
    margin-bottom: 1em;
    
}
header h1 {
    margin: 0;
    
}

/* CSS for Modal */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
   
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    border-radius: .5em;
}

#modalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalClose:hover,
#modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalFlex {
    display: flex;
}

/* Css for the playlist Items */
.playlistCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(134px, 1fr));
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 800px;
    margin: auto;


}

.playlistItem {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    min-width: 130px;
}

.playlistItemImage {
    width: 100%;
}

.playlistItemLikesContainer {
    display: flex;
    gap: .5em;
    align-items: center;
}


