body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* header css */
header {
    background-color: lightgray;
    padding: 1em;
    margin-bottom: 1em;
}
header h1 {
    margin: 0;
}

#userInfoAndButtons{
    height: 10px;
    display: flex;
}
#userInfoAndButtons div{
    height: 1.5em;
}

#userInfoAndButtons div:hover{

    background-color: aquamarine;
}


/* CSS for Modal */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 2em;
    padding-left: 3em;
    padding-right: 3em;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    border-radius: 0.5em;
}

#modalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalClose:hover,
#modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalFlex {
    display: flex;
    justify-content: flex-start;
}
.modalFlex #playlistModalImage {
    margin-right: 1em;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 30%;
}
.modalFlex div:last-child {
    margin-left: auto;
}

/* css for the inner modal song list */
#playlistListOfSongs {
    padding: 0px;
    list-style-type: none;
}
.songlistItemContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: lightgray;
    margin-bottom: 1em;
}

.songlistItemContainer div:last-child {
    margin-left: auto;
    margin-right: 0.5em;
}

.songlistItemImg {
    height: 100px;
    margin-right: 0.5em;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.modalVertFlex {
    display: flex;
    flex-direction: column;
}

.songlistItemTitle {
    margin: 0px;
}

/* Css for the playlist Items */
.playlistCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 2fr));
    gap: 1em;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 940px;
    margin: auto;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
}

.playlistItem {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    min-width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.playlistItem .playlistItemLikesContainer:last-child {
    margin-top: auto;
    margin-bottom: 0.33em;
}

.playlistItemTitle {
    margin: 0px;
    /* TODO decide whether to have a min height */
    /* min-height:2.5em; */
}

.playlistItemCreatorName {
    margin: 0px;
    margin-bottom: 1em;
}

.playlistItemImage {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.playlistItemLikesContainer {
    display: flex;
    gap: 0.5em;
    align-items: center;
    /* width: 90px; */
    justify-content: flex-end;
}

.playlistItemHeart {
    width: 1em;
    filter: invert(12%) sepia(55%) saturate(6619%) hue-rotate(350deg) brightness(91%) contrast(115%);
}

.playlistItemLikesCount,
.playlistItemHeart {
    margin: 0px;
}

/* css for the add playlist button */
#createNewPlaylistButton:hover {
    background-color: rgb(162, 216, 237);
}

#createNewPlaylistButton:active {
    background-color: rgb(199, 222, 231);
}

#addPlaylistImage {
    aspect-ratio: 1 / 1;
    background: lightgray;
    border-radius: 100%;
    width: 90%;
    margin: auto;
    transition: width 0.5s ease-out;
}

#createNewPlaylistButton:hover #addPlaylistImage {
    width: 100%;
}

#addSongImage {
    width: 100px;
}
#createNewSongButton {
    justify-content: center;
}
#createNewSongButton div:last-child {
    margin: 0px;
}

/* ALL CODE BELOW THIS POINT SHOULD EXCLSUIMVLY EFFECT THE featured.html FILE */
#featuredPlaylistsContainer  {
    display: block;

}


.featuredPlaylistItem{
    min-width: unset;
    margin-bottom: 1em;
}

@media only screen and (min-width: 395px) {
    .featuredPlaylistItem{
        margin-bottom: 0;
    }    
    #featuredPlaylistsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
        grid-template-rows: repeat(8, 300px);
    }
    #featuredPlaylistsContainer :nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    
}

@media only screen and (min-width: 600px) {
    #featuredPlaylistsContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
        grid-template-rows: repeat(5, 300px);
    }
    #featuredPlaylistsContainer :nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    #featuredPlaylistsContainer :nth-child(7) {
        grid-column: 2 / 4;
        grid-row: 3 / 5;
    }
    #featuredPlaylistsContainer :nth-child(12) {
        grid-column: 3 / 5;
        grid-row: 5 / 7;
    }
}
